@if (CurrentCase is not null)
{

    @if (CurrentCase.IsOpen)
    {

        @if (CurrentCase.HasMine)
        {
            <div class="case @(!CurrentCase.IsDefused ? "mined" : "defused")">
                <p> * </p>
            </div>
        }
        else
        {
            <div class="case">
                @if (CurrentCase.AdjacentMines != 0)
                {
                    <p> @CurrentCase.AdjacentMines </p>
                }
            </div>
        }
    }
    else
    {
        <div class="case closed" @onclick="OpenCell" @oncontextmenu="FlagCell" @oncontextmenu:preventDefault>
            @if (CurrentCase.IsFlagged)
            {
                <p> F </p>
            }
        </div>
    }
}
